// IMPORTING LIBRARIES
/* NORMALIZE */
@import "../node_modules/normalize-scss/sass/normalize/import-now";

/* BOOTSTRAP GRID */
@import "../node_modules/bootstrap/scss/bootstrap-grid";

/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css?family=Merriweather:900i|Open+Sans:300,400,600,700');

/* IMPORT VARIABLES AND MIXINS */
@import 'colors';
@import 'mixins';

/* IMPORT BLOCKS */
@import 'logo';
@import 'header';
@import 'start';
@import 'box';
@import 'car';
@import 'details';
@import 'reasons';
@import 'buy';
@import 'footer';

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.container-fluid {
    max-width: 1920px;
}
