// IMPORTING LIBRARIES
/* NORMALIZE */
@import "../node_modules/normalize-scss/sass/normalize/import-now";

/* BOOTSTRAP GRID */
@import "../node_modules/bootstrap/scss/bootstrap-grid";

/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css?family=Merriweather:900i|Open+Sans:300,400,600,700');


// Mixins
@mixin background-img-full-width($url) {
    background-image: $url;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin btn($color1, $color2) {
    color: $color1;
    background-color: $color2;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.2s;
    border: 2px solid $color2;
    &:focus {
        outline: none;
    }
    &:hover {
        box-sizing: border-box;
        background-color: $color1;
        color: $color2;
        border: 2px solid $color2;
    }
}

@mixin arrow-link($font-size, $line-height, $color) {
    text-decoration: none;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: 700;
    color: $color;
    &:hover {
        text-decoration: underline;
        & .fa-arrow-right {
            transform: translateX(5px);
        }
    }
}

// Colors 
$green: #82ca9c;
$violet: #bd8cbf;
$grey-text: #959595;

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.container-fluid {
    max-width: 1920px;
}
.logo {
    position: relative;
    top: 66px;
    height: 41px;
    width: 41px;
    &,
    &::before {
        border: 3px solid #fff;
        border-radius: 50%;
        background-color: transparent;
        box-sizing: border-box;
    }
    &::before {
        content: "";
        position: absolute;
        left: 10px;
        top: 10px;
        height: 15px;
        width: 15px;
    }
    &::after {
        content: "take";
        position: absolute;
        left: 48px;
        top: 4px;
        font-family: 'Merriweather', serif;
        font-weight: 900;
        font-style: italic; 
        font-size: 21px;
        letter-spacing: -0.24px;
    }
}
.header {
    @include background-img-full-width(url(../images/header.jpg));
    height: 100vh;
    color: #fff;
    &__title {
        margin: 0;
        margin-top: 40vh;
        font-size: 60px;
        font-weight: 300;
    }
    &__text {
        margin: 0;
        margin-top: 21px;
        max-width: 450px;
        font-size: 13px;
        line-height: 24px;
    }
    &__iphone {
        height: 100vh;
        & img {
            width: 100%;
            position: absolute;
            bottom: -170px;
        }
    }
}
.start {
    padding-top: 120px;
    padding-bottom: 80px;
    &__header {
        margin: 0;
        color: #222626;
        font-size: 35px;
        font-weight: 300;
    }
    &__text {
        margin: 0;
        margin-top: 30px;
        color: $grey-text;
        font-size: 14px;
        line-height: 24px;
    }
}
.box {
    min-height: 278px;
    box-sizing: border-box;
    padding: 50px 40px;
    color: #fff;
    &__header {
        margin: 0;
        font-size: 30px;
        font-weight: 300;
    }
    &__text {
        margin: 0;
        margin-top: 24px;
        max-width: 320px;
        font-size: 13px;
        line-height: 24px;
    }
    &__link {
        margin: 0;
        margin-top: 40px;
        @include arrow-link(14px, 24px, #fff);
    }
    &--pink {
        background-color: #f5989d;
    }
    &--blue {
        background-color: #615f7d;     
    }
    &--violet {
        background-color: $violet;
    }
    &--green {
        background-color: $green;
    }
    &--photo1,
    &--photo2,
    &--photo3 {
        background-color: rgba(0, 0, 0, 0.7);
    }
    &--photo1 {
        @include background-img-full-width(url(../images/box_photo1.png));
    }
    &--photo2 {
        @include background-img-full-width(url(../images/box_photo2.png));
    }
    &--photo3 {
        @include background-img-full-width(url(../images/box_photo3.png));
    }
}
.fa-arrow-right {
    padding-left: 10px;
    font-size: 14px/24px;
    transition: 0.2s;
}
.details {
    padding-top: 87px;
    padding-bottom: 160px;
    &__title {
        margin: 0;
        color: #222626;
        font-size: 35px;
        font-weight: 300;
    }
    &__item {
        text-align: justify;
    }
    &__header {
        margin: 0;
        margin-top: 68px;
        color: #67676d;
        font-size: 13px;
        line-height: 24px;
        font-weight: 700;
    }
    &__text {
        margin: 0;
        margin-top: 28px;
        color: $grey-text;
        font-size: 14px;
        line-height: 24px;
    }
}
.car {
    @include background-img-full-width(url(../images/car.jpg));
    width: 100%;
    height: 870px;
    margin: 0 auto;
    color: #fff;
    &__header {
        margin: 45vh 0 0 15px;
        max-width: 510px;
        font-size: 60px;
        font-weight: 300;
    }
    &__text {
        margin: 30px 0 0 15px;
        max-width: 438px;
        font-size: 13px;
        line-height: 24px;
    }
    &__link {
        margin: 25px 0 0 15px;
        @include arrow-link(14px, 24px, #fff);
    }
}
.reasons {
    background-color: $green;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 165px;
    &__title {
        margin: 0;
        margin-top: 25px;
        font-size: 35px;
        font-weight: 300;
    }
    &__item {
        text-align: justify;
    }
    &__header {
        margin: 0;
        margin-top: 60px;
        font-size: 13px;
        line-height: 24px;
        font-weight: 700;
    }
    &__text {
        margin: 0;
        margin-top: 26px;
        font-size: 14px;
        line-height: 24px;
    }
}
.buy {
    $footer-white: #f6f7fa;
    background-color: $footer-white;
    padding-top: 100px;
    padding-bottom: 145px;
    margin: 0 auto;
    &__item {
        box-sizing: border-box;
        padding: 50px;
        min-height: 380px;
        text-align: justify;
        transition: 0.3s;
        &:hover {
            background-color: #fff;
            box-shadow: 0 0 62px rgba(0, 0, 0, 0.05);
        }
    }
    &__description {
        margin: 0;
        height: 24px;
        width: 110px;
        border-radius: 5px;
        background-color: #e1e1e1;
        text-align: center;
        color: #ffffff;
        font-size: 11px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        &--popular {
            background-color: $violet;
        }
    }
    &__header {
        margin: 0;
        margin-top: 23px;
        color: #2e3b4e;
        font-size: 30px;
        font-weight: 300;
    }
    &__text {
        margin: 0;
        margin-top: 25px;
        color:  #8297a7;
        font-size: 14px;
        line-height: 25px;
    }
    &__button {
        margin-top: 25px;
        width: 151px;
        height: 47px;
        border-radius: 3px;
        font-size: 13px;
        line-height: 22px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        @include btn(#fff, $green)
    }
    &__icons {
        margin: 0;
        margin-top: 18px;
        font-size: 25px;
        color: #c5c5c5;
        & i {
            margin-right: 16px;
        }
    }
}
.footer {
    $footer-white: #fff;
    background-color: #192431;
    margin: 0 auto;
    color: $footer-white;
    box-sizing: border-box;
    padding: 100px 0;
    &__header {
        margin: 0;
        margin-top: 30px;
        font-size: 13px;
        font-weight: 600;
        &--nav {
            margin-top: 28px;
        }
    }
    &__text {
        margin: 0;
        margin-top: 29px;
        font-size: 13px;
        line-height: 24px;
    }
    &__form {
        margin: 0;
        margin-top: 27px;
        padding: 0;
        padding: 0 10px 0 10px;
        max-width: 400px;
        height: 58px;
        background-color: $footer-white;
        box-sizing: border-box;
        border: none;
        border-radius: 2px 0 0 2px;
        font-family: 'Open Sans';
        font-size: 20px;
        &:focus {
            outline-color: $green;
        }
        &-info {
            margin-top: 18px;
            max-width: 340px;
            color: #57697f;
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__button {
        margin: 0;
        padding: 0;
        width: 70px;
        height: 58px;
        border-radius: 0 2px 2px 0;
        font-size: 18px;
        text-align: center;
        line-height: 58px;      
        @include btn(#fff, $green)
    }
    &__menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 29px;
    }
    &__link {
        text-decoration: none;
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
        color: $footer-white;
        &:hover {
            text-decoration: underline; 
        }
    }
}