// IMPORTING LIBRARIES

/* NORMALIZE */
@import "../node_modules/normalize-scss/sass/normalize/import-now";

/* BOOTSTRAP GRID */
@import "../node_modules/bootstrap/scss/bootstrap-grid";

/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css?family=Merriweather:900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.container-fluid {
    max-width: 1920px;
}
.logo {
    position: relative;
    top: 66px;
    height: 41px;
    width: 41px;
    &,
    &::before {
        border: 3px solid #fff;
        border-radius: 50%;
        background-color: transparent;
        box-sizing: border-box;
    }
    &::before {
        content: "";
        position: absolute;
        left: 10px;
        top: 10px;
        height: 15px;
        width: 15px;
    }
    &::after {
        content: "take";
        position: absolute;
        left: 48px;
        top: 4px;
        font-family: 'Merriweather', serif;
        font-weight: 900;
        font-style: italic; 
        font-size: 21px;
        letter-spacing: -0.24px;
    }
}
.header {
    height: 100vh;
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    &__title {
        margin: 0;
        margin-top: 40vh;
        font-size: 60px;
        font-weight: 300;
    }
    &__text {
        margin: 0;
        margin-top: 21px;
        max-width: 450px;
        font-size: 13px;
        line-height: 24px;
    }
    &__iphone {
        height: 100vh;
        & img {
            width: 100%;
            position: absolute;
            bottom: -170px;
        }
    }
}
.start {
    padding-top: 120px;
    padding-bottom: 80px;
    &__header {
        margin: 0;
        color: #222626;
        font-size: 35px;
        font-weight: 300;
    }
    &__text {
        margin: 0;
        margin-top: 30px;
        color: #959595;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
    }
}
.boxes {
    // justify-content: center;
}
.box {
    min-width: 360px;
    min-height: 278px;
    box-sizing: border-box;
    padding: 50px 40px;
    color: #fff;
    &__header {
        margin: 0;
        font-size: 30px;
        font-weight: 300;
    }
    &__text {
        margin: 0;
        margin-top: 24px;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
    }
    &__link {
        margin: 0;
        margin-top: 40px;
        text-decoration: none;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #fff;
        &:hover {
            text-decoration: underline;
            & .fa-arrow-right {
                transform: translateX(5px);
            }
        }
    }
    &--wide {
        // max-width: 768px;
        // width: 768px;
        flex-grow: 2;
        & > .box__text {
            max-width: 320px;
        }
    }
    &--pink {
        background-color: #f5989d;
    }
    &--blue {
        background-color: #615f7d;     
    }
    &--violet {
        background-color: #bd8cbf;
    }
    &--yellow {
        background-color: #ffc400;
    }
    &--green {
        background-color: #82ca9c;
    }
    &--photo1,
    &--photo2,
    &--photo3 {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.7);
    }
    &--photo1 {
        background-image: url(../images/box_photo1.png);
    }
    &--photo2 {
        background-image: url(../images/box_photo2.png);
    }
    &--photo3 {
        background-image: url(../images/box_photo3.png);
    }
}
.fa-arrow-right {
    padding-left: 10px;
    font-size: 14px/24px;
    transition: 0.2s;
}
/* TO DO - ordery podczas zmniejszania do 1600,1200,800 */
// @media (max-width: 1920px) {
//     .box--wide {
//         max-width: 384px;
//     }
// }
.details {
    padding-top: 87px;
    padding-bottom: 160px;
    &__title {
        margin: 0;
        color: #222626;
        font-size: 35px;
        font-weight: 300;
    }
    &__item {
        text-align: justify;
    }
    &__header {
        margin: 0;
        margin-top: 68px;
        color: #67676d;
        font-size: 13px;
        line-height: 24px;
        font-weight: bold;
    }
    &__text {
        margin: 0;
        margin-top: 28px;
        color: #959595;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
    }
}